body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-image: url('https://lirp.cdn-website.com/fb21f8a1/dms3rep/multi/opt/BT+Manaus+Area+Interna+%288%29-1920w.jpg');
    background-size: cover;
    background-position: center;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

.logo {
    width: 180px;
    background-size: cover;
    height: 70px;
    background-color: white;
    margin: 50px 0;
    margin-bottom: -70px;
    padding: 10px;
    border-radius: 20px;
}

main {
    padding: 20px;
}

.info-links {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    list-style-type: none;
    padding: 0;
}

.info-links li {
    display: flex;
    align-items: center;
    background-color: white;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.info-links img {
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 15px;
}

.info-links .content {
    display: flex;
    flex-direction: column;
}

.info-links a {
    text-decoration: none;
    color: #333;
    font-size: 1.4rem;
}

.info-links .subtitle {
    color: #777;
    font-size: 0.9rem;
    margin-top: 5px;
}

.contact-buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.contact-buttons button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 0 15px;
    margin-top: 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
}

.contact-buttons button i {
    margin-right: 10px;
}

.contact-buttons button:hover {
    background-color: #0056b3;
}

footer {
    background-color: rgba(12,38,98,1);
    color: white;
    width: 100%;
    height: 20px;
    padding: 20px;
    display: flex;
    position: fixed;
    bottom: 0px;
    justify-content: space-around;
}

footer p {
    margin: 0;
    text-align: center;
    font-size: 0.7rem;
}
